@use 'flag-icons/css/flag-icons.min.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #181917;
  color: #f0efec;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

#root {
  height: 100%;
}
